# Maven
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
*.pem


resources/*.pem
test.sh

# (build) artifacts
apps/
target/

# Eclipse
**/.classpath
**/.project
**/.settings/
.project

# Netbeans
nbproject/
nbactions.xml.project

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/*
